<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>AGB | Agrimensura Bosco</title>

        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.rtl.min.css" integrity="sha384-7mQhpDl5nRA5nY9lr8F1st2NbIly/8WqhjTp+0oFxEA/QUuvlbF6M1KXezGBh3Nb" crossorigin="anonymous">
        <link href="{% static 'principal/css/styles.css' %}" rel="stylesheet">
    </head>
    <!-- Responsive navbar-->
        <nav  id="arriba" class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'home' %}">AGB | Agrimensura Bosco</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0 navbar-nav me-auto">
                        <li class="nav-item"><a class="nav-link" href="#nosotros">¿Quiénes somos?</a></li>
                        <li class="nav-item"><a class="nav-link" href="#trabajos">¿Qué hacemos?</a></li>
                        <li class="nav-item"><a class="nav-link" href="">Preguntas frecuentes</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'contacto' %}">Contacto</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4" style="background-image: url('{% static 'principal/assets/img/' %}');">
            <div id="arriba" class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">Agrimensura Bosco</h1>
                    <p class="lead mb-0">Midiendo desde 1988</p>
                    <a href="{% url 'contacto' %}"><button class="btn btn-outline-dark flex-shrink-0" type="button" href="">Solicitar Presupuesto</button></a>
                </div>
            </div>
        </header>
        <div id="nosotros" class="text-center py-4 bg-light border-bottom mb-4">
            <h2>Sobre nosotros</h2>
        </div>
        <body style="background-image: url('{% static 'principal/assets/img/toposa2.jpg' %}');">
            <div class="container px-2 px-lg-10">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-4">
                        <div class="col-md-10 col-lg-10 col-xl-10">
                            <div class="my-0">
                                <div class="card h-100">
                                    <div class="text-center">
                                        <img style="margin:14px;" width="250px" height="300px" src="{% static 'principal/assets/img/estacioncampopanoramica.jpg' %}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h2>Hector Rafael Bosco</h2><br>
                            <b>Ingeniero Agrimensor</b>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-10">
                                    <ul class="list-unstyled mb-0">
                                        <li>....</li>
                                        <li>...</li>
                                        <li>...</li>
                                        <li>...</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <div class="container px-2 px-lg-10">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-4">
                        <div class="col-md-10 col-lg-10 col-xl-10">
                            <div class="my-0">
                                <div class="card h-100">
                                    <div class="text-center">
                                        <img style="margin:14px;" width="250px" height="300px" src="{% static 'principal/assets/img/estacioncampo.jpg' %}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h2>Ezequiel Bosco</h2><br>
                            <b>Estudiante Ingenieria en Agrimensura</b>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-10">
                                    <ul class="list-unstyled mb-0">
                                        <li>....</li>
                                        <li>...</li>
                                        <li>...</li>
                                        <li>...</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Divider-->
        <hr class="my-4" />
        <div id="trabajos" class="text-center py-4 bg-light border-bottom mb-4">
            <h2>Servicios que ofrecemos</h2>
        </div>
        </div>
        <div class="container">
            <div class="row gx-4 gx-lg-5 row-cols-5 row-cols-md-5 row-cols-xl-5 justify-content-center">
                <div class="col mb-5">
                    <!-- Post preview-->
                    <div class="card h-100">
                        <img style="max-width:100%;" width="50px" height="160px" class="card-img-top" src="{% static 'principal/assets/img/2.jpg' %}"/>
                        <div class="container text-center">
                        <h5 class="post-title">Mensuras</h5>
                        </div>
                        <div class="card-footer bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark flex-shrink-0" id="submitButton" type="submit" href="{% url 'trabajos' %}">Leer más →</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <!-- Post preview-->
                    <div class="card h-100">
                        <img style="max-width:100%;" width="10px" height="136x" class="card-img-top" src="{% static 'principal/assets/img/3.jpg' %}"/>
                        <div class="container text-center">
                        <h5 class="post-title">Estados Parcelarios</h5>
                        </div>
                        <div class="card-footer bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark flex-shrink-0" id="submitButton" type="submit" href="{% url 'trabajos' %}">Leer más →</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <!-- Post preview-->
                    <div class="card h-100">
                        <img style="max-width:100%;" width="50px" height="160px" class="card-img-top" src="{% static 'principal/assets/img/5.jpg' %}"/>
                        <div class="container text-center">
                        <h5 class="post-title">Relevamientos</h5>
                        </div>
                        <div class="card-footer bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark flex-shrink-0" id="submitButton" type="submit" href="{% url 'trabajos' %}">Leer más →</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <!-- Post preview-->
                    <div class="card h-100">
                        <img style="max-width:100%;" width="50px" height="160px" class="card-img-top" src="{% static 'principal/assets/img/4.jpg' %}"/>
                        <div class="container text-center">
                        <h5 class="post-title">Amojonamientos</h5>
                        </div>
                        <div class="card-footer bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark flex-shrink-0" id="submitButton" type="submit" href="{% url 'trabajos' %}">Leer más →</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <!-- Post preview-->
                    <div class="card h-100">
                        <img style="max-width:100%;" width="50px" height="160px" class="card-img-top" src="{% static 'principal/assets/img/1.jpg' %}"/>
                        <div class="container text-center">
                        <h5 class="post-title">Replanteos</h5>
                        </div>
                        <div class="card-footer bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark flex-shrink-0" id="submitButton" type="submit" href="{% url 'trabajos' %}">Leer más →</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <!-- Post preview-->
                    <div class="card h-100">
                        <img style="max-width:100%;" width="50px" height="160px" class="card-img-top" src="{% static 'principal/assets/img/2.jpg' %}"/>
                        <div class="container text-center">
                        <h5 class="post-title">Unificación</h5>
                        </div>
                        <div class="card-footer bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark flex-shrink-0" id="submitButton" type="submit" href="{% url 'trabajos' %}">Leer más →</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <!-- Post preview-->
                    <div class="card h-100">
                        <img style="max-width:100%;" width="10px" height="136px" class="card-img-top" src="{% static 'principal/assets/img/3.jpg' %}"/>
                        <div class="container text-center">
                        <h5 class="post-title">Popiedad Horizontal</h5>
                        </div>
                        <div class="card-footer bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark flex-shrink-0" id="submitButton" type="submit" href="{% url 'trabajos' %}">Leer más →</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <!-- Post preview-->
                    <div class="card h-100">
                        <img style="max-width:100%;"width="50px" height="160px" class="card-img-top" src="{% static 'principal/assets/img/5.jpg' %}"/>
                        <div class="container text-center">
                        <h5 class="post-title">Loteos</h5>
                        </div>
                        <div class="card-footer bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark flex-shrink-0" id="submitButton" type="submit" href="{% url 'trabajos' %}">Leer más →</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <!-- Post preview-->
                    <div class="card h-100">
                        <img style="max-width:100%;" width="50px" height="160px" class="card-img-top" src="{% static 'principal/assets/img/4.jpg' %}"/>
                        <div class="container text-center">
                        <h5 class="post-title">Usucapión</h5>
                        </div>
                        <div class="card-footer bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark flex-shrink-0" id="submitButton" type="submit" href="{% url 'trabajos' %}">Leer más →</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <!-- Post preview-->
                    <div class="card h-100">
                        <img style="max-width:100%;" width="50px" height="160px"class="card-img-top" src="{% static 'principal/assets/img/1.jpg' %}"/>
                        <div class="container text-center">
                        <h5 class="post-title">Barrios cerrados</h5>
                        </div>
                        <div class="card-footer bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark flex-shrink-0" id="submitButton" type="submit" href="{% url 'trabajos' %}">Leer más →</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a style="margin-bottom:10px;" class="btn btn-outline-dark flex-shrink-0" href="#arriba">Ir al inicio</a>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="aps-group text-center">
                <div class="aps-each-icon icon-1-3" style="margin-bottom:10px;" data-aps-tooltip="Instagram">
                    <a href="">
                    <img src="{% static 'principal/assets/img/instagram.png' %}" alt="Instagram"></a>
                    <style class="aps-icon-front-style">.icon-1-3 img{height:50px;width:50px;opacity:1;-moz-box-shadow:0px 0px 0px 0 ;-webkit-box-shadow:0px 0px 0px 0 ;box-shadow:0px 0px 0px 0 ;padding:0;}.icon-1-3 .aps-icon-tooltip:before{border-color:white}</style>
                    <br>Instagram
                </div>
            </div>
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Agrimensura Bosco | Web 2022 | Todos los derechos reservados</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>