{% extends 'principal/base.html' %}
{% block nav %}{% endblock %}
{% block contenido %}
{% load static %}
        <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4" style="background-image: url('{% static 'principal/assets/img/fondo-autocad1.png' %}');">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">Agrimensura Bosco</h1>
                    <p class="lead mb-0">Midiendo desde 1985</p>
                    <a href="{% url 'contacto' %}"><button type="button" href="">Solicitar Presupuesto</button></a>
                </div>
            </div>
        </header>
        <!-- Page content-->
        <body style="background-image: url('{% static 'principal/assets/img/fondo-autocad7.jpg' %}');">
        <div class="container" >
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Nested row for non-featured blog posts-->
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                                <div class="card-body">
                                    <h2 class="card-title h4">Post Title</h2>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.</p>
                                    <a class="btn btn-primary" href="#!">Read more →</a>
                                </div>
                            </div>
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                                <div class="card-body">
                                    <h2 class="card-title h4">Post Title</h2>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.</p>
                                    <a class="btn btn-primary" href="#!">Read more →</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                                <div class="card-body">
                                    <h2 class="card-title h4">Post Title</h2>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.</p>
                                    <a class="btn btn-primary" href="#!">Read more →</a>
                                </div>
                            </div>
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                                <div class="card-body">
                                    <h2 class="card-title h4">Post Title</h2>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam.</p>
                                    <a class="btn btn-primary" href="#!">Read more →</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Servicios que realizamos</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-10">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">Mensuras</a></li>
                                        <li><a href="#!">Estados parcelarios</a></li>
                                        <li><a href="#!">Relevamiento</a></li>
                                        <li><a href="#!">Amojonamientos</a></li>
                                        <li><a href="#!">Replanteos</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-10">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">Subdivisión en propiedad horizontal</a></li>
                                        <li><a href="#!">Unificación</a></li>
                                        <li><a href="#!">Loteos</a></li>
                                        <li><a href="#!">Planos de usucapión</a></li>
                                        <li><a href="#!">Barrios cerrados o clubes de campo</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">Area de cobertura</div>
                        <div class="card-body">Trabajamos en todo Buenos Aires</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container text-center" aria-busy="true">
        <h2>Servicios que ofrecemos</h2>
        </div>
        <div class="container">
            <div class="row gx-4 gx-lg-5 row-cols-5 row-cols-md-5 row-cols-xl-5 justify-content-center">
                <div class="col mb-5">
                    <!-- Post preview-->
                    <div class="card h-100">
                        <a href=""><img style="max-width:100%;" class="card-img-top" src=""/></a>
                        <a href=""><h2 class="post-title"></h2></a>
                        <span class="post-subtitle"></span>
                    <p class="post-meta">
                        Creado por
                        <div class="container text-center">
                            <a class="btn btn-outline-dark flex-shrink-0" id="submitButton" type="submit" href="{% url 'trabajos' %}">Leer más →</a>
                        </div>
                        </p>
                    </div>
                </div>
                <div class="col mb-5">
                    <!-- Post preview-->
                    <div class="card h-100">
                        <a href=""><img style="max-width:100%;" class="card-img-top" src=""/></a>
                        <a href=""><h2 class="post-title"></h2></a>
                        <span class="post-subtitle"></span>
                    <p class="post-meta">
                        Creado por
                        <a href=""></a> el 
                        <div class="container text-center">
                            <a class="btn btn-outline-dark flex-shrink-0" id="submitButton" type="submit" href="">Leer más →</a>
                        </div>
                        </p>
                    </div>
                </div>
                <div class="col mb-5">
                    <!-- Post preview-->
                    <div class="card h-100">
                        <a href=""><img style="max-width:100%;" class="card-img-top" src=""/></a>
                        <a href=""><h2 class="post-title"></h2></a>
                        <span class="post-subtitle"></span>
                    <p class="post-meta">
                        Creado por
                        <a href=""></a> el 
                        <div class="container text-center">
                            <a class="btn btn-outline-dark flex-shrink-0" id="submitButton" type="submit" href="">Leer más →</a>
                        </div>
                        </p>
                    </div>
                </div>
                <div class="col mb-5">
                    <!-- Post preview-->
                    <div class="card h-100">
                        <a href=""><img style="max-width:100%;" class="card-img-top" src=""/></a>
                        <a href=""><h2 class="post-title"></h2></a>
                        <span class="post-subtitle"></span>
                    <p class="post-meta">
                        Creado por
                        <a href=""></a> el 
                        <div class="container text-center">
                            <a class="btn btn-outline-dark flex-shrink-0" id="submitButton" type="submit" href="">Leer más →</a>
                        </div>
                        </p>
                    </div>
                </div>
                <div class="col mb-5">
                    <!-- Post preview-->
                    <div class="card h-100">
                        <a href=""><img style="max-width:100%;" class="card-img-top" src=""/></a>
                        <a href=""><h2 class="post-title"></h2></a>
                        <span class="post-subtitle"></span>
                    <p class="post-meta">
                        Creado por
                        <a href=""></a> el 
                        <div class="container text-center">
                            <a class="btn btn-outline-dark flex-shrink-0" id="submitButton" type="submit" href="">Leer más →</a>
                        </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
{% endblock %}