{% extends 'principal/base.html' %}
{% block nav %}{% endblock %}
{% block contenido %}
{% load static %}
        <!-- Main Content-->
        <main class="mb-4">
            <header class="py-5 bg-light border-bottom mb-4" style="background-image: url('{% static 'principal/assets/img/fondo-autocad1.png' %}');">
                <div class="container px-4 px-lg-5 text-center">
                    <h1>Contacto</h1>
                </div>
            </header>
                <div class="container text-center">
                    <h3>Complete el formulario para que podamos comunicarnos lo antes posible!</h3>
                </div>
            <!-- Divider-->
            <hr class="my-4" />
            <div class="container px-2 px-lg-10">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-7">
                    <div class="col-md-10 col-lg-10 col-xl-10">
                        <div class="my-5">
                            <form id="contactForm" data-sb-form-api-token="API_TOKEN" form  enctype='multipart/form-data' method="post">
                                {% csrf_token %}
                                <div class="form-floating">
                                <p>
                                    <label for="id_nombre">Nombre y Apellido</label>
                                        <input type="text" name="nombre" class="form-control" maxlength="20" placeholder="Ingrese su nombre y apellido..." autofocus="" required="" id="id_nombre">
                                </p>
                                <p>
                                    <label for="id_servicio">Servicio requerido</label><br>
                                    <select name="servicio" required="" id="id_servicio">
                                        <option value="" selected="">-------------------------SELECCIONAR-------------------------</option>
                                        <option value="1">Mensura</option>
                                        <option value="2">Estado parcelario</option>
                                        <option value="3">Relevamiento</option>
                                        <option value="4">Amojonamiento</option>
                                        <option value="5">Replanteo</option>
                                        <option value="6">Subdivision en Propiedad horizontal</option>
                                        <option value="7">Unificación</option>
                                        <option value="8">Loteo</option>
                                        <option value="9">Plano de usucapión</option>
                                        <option value="10">Barrio cerrado o club de campo</option>
                                      </select>
                                </p>
                                <p>
                                    <label for="id_localidad">Localidad</label>
                                        <input type="text" name="localidad" class="form-control" maxlength="20" placeholder="Ingrese su localidad..." autofocus="" required="" id="id_localidad">
                                </p>
                                <p>
                                    <label for="id_correo">Correo</label>
                                    <input type="email" name="correo" class="form-control" placeholder="Ingrese su correo..." required="" data-sb-validations="required,email" id="id_correo">
                                </p>
                                <p>
                                <label for="id_numero_telefono">Número de Teléfono</label>
                                <input type="tel" name="numero_telefono" class="form-control" placeholder="Ingrese su número de teléfono..." required="" id="id_numero_telefono">
                                </p>
                                <p>
                                <label for="id_mensaje">Mensaje</label>
                                <textarea type="text" name="mensaje" class="form-control" style="height: 10rem" placeholder="Ingrese su mensaje..." required="" id="id_mensaje"></textarea>
                                </p>
                            </div>
                                <!-- Submit Button-->
                                <input class="btn btn-outline-dark flex-shrink-0" type="submit" value="Enviar">
                            </form>
                        </div>
                    </div>
                    </div>
                    <div class="col-lg-4">
                    <!-- Categories widget-->
                    <!-- Divider-->
                    <hr class="my-4" />
                    <div class="card mb-4">
                        <div class="card-header">CONTACTO AGB | Agrimensura <br>
                            <img width="60px" height="40px" src="{% static 'principal/assets/img/correo.jpg' %}">
                            <span>CORREO</span>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-10">
                                    <ul class="list-unstyled mb-0">
                                        <li>Ingeniero Agrimensor</li>
                                        <li>Hector Bosco</li>
                                        <!-- Divider-->
                                        <hr class="my-4" />
                                        <li>Teléfono:</li>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        </div>
                        <!-- Divider-->
                        <div class="card mb-4">
                        <div class="card-header">CONTACTO AGB | Agrimensura <br>
                            <img width="60px" height="40px" src="{% static 'principal/assets/img/correo.jpg' %}">
                            <span>CORREO</span>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-10">
                                    <ul class="list-unstyled mb-0">
                                        <li>Estudiante Agrimensura UBA</li>
                                        <li>Ezequiel Bosco</li>
                                        <!-- Divider-->
                                        <hr class="my-4" />
                                        <li>Teléfono:</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        </div>
                        <!-- Divider-->
                        <div class="card mb-4">
                            <div class="card-header">REDES SOCIALES AGB | Agrimensura
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-10">
                                        <ul class="list-unstyled mb-0">
                                            <div class="aps-group-horizontal">
                                                <div class="aps-each-icon icon-1-1" style="margin:px;" data-aps-tooltip="LinkedIn" data-aps-tooltip-enabled="0" data-aps-tooltip-bg="#000" data-aps-tooltip-color="#fff">
                                                    <a href="" target="&quot;_blank&quot;" class="aps-icon-link animated " data-animation-class="flipInY">
                                                            <img src="" alt="LinkedIn">
                                                        </a>
                                <span class="aps-icon-tooltip aps-icon-tooltip-bottom" style="display: none;"></span>
                                <style class="aps-icon-front-style">.icon-1-1 img{height:50px;width:50px;opacity:1;-moz-box-shadow:0px 0px 0px 0 ;-webkit-box-shadow:0px 0px 0px 0 ;box-shadow:0px 0px 0px 0 ;padding:px;}.icon-1-1 .aps-icon-tooltip:before{border-color:#000}</style>                </div>
                            
                                        <div class="aps-each-icon icon-1-2" style="margin:px;" data-aps-tooltip="Facebook" data-aps-tooltip-enabled="0" data-aps-tooltip-bg="#000" data-aps-tooltip-color="#fff">
                                <a href="" target="&quot;_blank&quot;" class="aps-icon-link animated " data-animation-class="flipInY">
                                                            <img src="" alt="Facebook">
                                                        </a>
                                <span class="aps-icon-tooltip aps-icon-tooltip-bottom" style="display: none;"></span>
                                <style class="aps-icon-front-style">.icon-1-2 img{height:50px;width:50px;opacity:1;-moz-box-shadow:0px 0px 0px 0 ;-webkit-box-shadow:0px 0px 0px 0 ;box-shadow:0px 0px 0px 0 ;padding:px;}.icon-1-2 .aps-icon-tooltip:before{border-color:#000}</style>                </div>
                            
                                        <div class="aps-each-icon icon-1-3" style="margin:px;" data-aps-tooltip="Instagram" data-aps-tooltip-enabled="0" data-aps-tooltip-bg="#000" data-aps-tooltip-color="#fff">
                                <a href="" target="&quot;_blank&quot;" class="aps-icon-link animated " data-animation-class="flipInY">
                                                            <img src="" alt="Instagram">
                                                        </a>
                                <span class="aps-icon-tooltip aps-icon-tooltip-bottom" style="display: none;"></span>
                                <style class="aps-icon-front-style">.icon-1-3 img{height:50px;width:50px;opacity:1;-moz-box-shadow:0px 0px 0px 0 ;-webkit-box-shadow:0px 0px 0px 0 ;box-shadow:0px 0px 0px 0 ;padding:px;}.icon-1-3 .aps-icon-tooltip:before{border-color:#000}</style>                </div>
                                            </div>
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </main>
{% endblock %}